/*GENERAL SECTION*/
body{
    margin: 0px;
    font-family: "Helvetica Neue", arial, sans-serif;;
}
.h2{
    color: black;
    justify-content: center;
}

/*HEADER SECTION*/
#Header{
    display: flex;
    justify-content: space-between;
    background-color: #0050c3;
    padding: 20px;
    padding-left: 40px;
    padding-right: 60px;
}
#LogoLogin{
    padding-top: 20px;
}
#Login{
    text-decoration: none;
    padding: 15px;
    color: white;
    
}
#logo{
    height: 50px;
}
#DivHeader{
    display: flex;

}
#CrearTienda2{
    background-color: white;
    cursor: pointer;
    padding: 10px;
    padding-top: 10px;
    border-radius: 100px;
    color: #0050c3;
    border: white;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    height: 22px;
}
#CrearTienda2:hover{
    background-color: transparent;
    border: solid white; 
    color: white;
    text-decoration: none;
    text-align: center;
}
#p1Section{
    font-size: 14px;
    line-height: 18px;
}


/*PRIMER SECTION*/
#PrimerSection{
    padding-bottom: 35px;
    padding-top: 35px;
    padding-left: 50px;
    padding-right: 30px;
    background-color: #0050c3;
    color: white;
}
#Login{
    text-decoration: none;
}
.ImputEmail{
  display: flex;
  align-items: center;
  width: 500px;
  padding: 10px;
  border-radius: 100px;
  transition: 200ms;
  text-transform: uppercase;
  background-color: white;
  justify-content: space-between;
}
#Section1{
    display: flex;
    justify-content: space-between;
}
#h1Section1{
    padding-top: 120px;
}
#PrimerSection h1{
    font-size: 42px;
    font-weight: 600;
    
}
.Boton-CrearTienda{
    background-color: #0050c3;
    cursor: pointer;
    padding: 15px;
    border-radius: 100px;
    color: white;
    border: #0050c3;
    text-decoration: none;
    text-transform: uppercase;
}
.Boton-CrearTienda:hover{
    background-color: transparent;
    border: solid #0050c3; 
    color: #0050c3;
    text-decoration: none;
}
#ImputMail{
    border: white;
    padding-left: 20px;
}
#ImagenPrimerSection{
    height: auto;
    width: 630px;
}

/*SEGUNDO SECTION*/
#SegundoSection{
    padding-bottom: 0px;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
}
.ContenedorTarjetas{
    display: flex;
    margin: 0;
    padding: 0;
}
.tarjeta{
    color: black;
    border: 1px solid;
    border-radius: 16px;
    border-color: #0050c3;
    padding: 20px;
    margin: 10px;
}
.Section2h2{
    display: block;
    font-size: 30px;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 10px;
    font-weight: 600;
}

/*TERCER SECTION*/
#TercerSection{
    padding-bottom: 120px;
    padding-top: 120px;
    display: block;
}
#h2Section3{
    text-align: center;
    font-size: 30px ;
}
#Section3{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 150px;
}
#TercerImg{
    width: 500px;
    padding: 20px;
}
#texto3{
    padding: 20px;
    padding-left: 100px;
}
#h1S3{
    font-size: 27px;
}
.ListaS3{
    font-size: 20px;
    padding-bottom: 3px;
    line-height: 0px;
}
.S3{
    margin-top: 40px;
}


/*CUARTO SECTION*/
#CuartoSection{
    padding-bottom: 220px;
    padding-top: 120px;
    padding-left: 90px;
    padding-right: 200px;
    background-color: #0050c3;
    color: white;
}
#Section4{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#h1CS{
    font-size: 45px;
    margin-top: 0px;
}
#CuadradosConJs{
    background-color: white;
    color: black;
    border-radius: 10px;
    padding: 50px;
    height: 480px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}
#pCS{
    font-size: 24px;
}
#Veron{
    line-height: 5px;
}
#Veron p{
    font-weight: 550;
    font-size: 18px;
}
#Veron a{
    color: #0050c3;
}
#Comillas{
    height: 50px;
    width: 50px;
}

/*QUINTO SECTION*/
#QuintoSection{
    padding-bottom: 100px;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
    display: block;
}
.aQS{
    color: #0050c3;
}
.pQS{
    color: #4b5fA0;
}



/*SEXTO SECTION*/
#SextoSection{
    padding-bottom: 120px;
    padding-top: 200px;
    display: flex;
}
#Contenedor6S{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#Img6S{
    margin-left: 180px;
}
#ImgSexto{
    max-width: 100%;
    width: 500px;
}
#Der6S{
    margin-left: 150px;
}
.h26S{
    font-size: 33px;
    line-height: 1.05;
}
#a6S{
    margin-top: 40px;    
}



/*SEPTIMO SECTION*/
#SeptimoSection{
    padding-bottom: 40px;
    padding-top: 120px;
}
#ContainerSeptimo{
    display: flex;
    flex-wrap: wrap;
    margin: 80px;

}
#h1Septimo{
    font-size: 22px;
}
#PregSeptimo{
    width: 900px;
}
.PrimerPreg7S{
    margin-top: 30px;
    margin-left: 100px;
    margin-bottom: 80px;
    margin-right: 100px;
    padding-left: 100px;
    font-weight: 600;
    text-align: left;
    font-size: 26px;
}
.Preg7S{
    margin: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 100px;
    font-weight: 600;
    text-align: left;
    font-size: 26px;
}


/*FOOTER SECTION*/
#footer{
    display: flex;
    justify-content: space-between;
    background-color: #0050c3;
    color: white;
    padding-top: 50px;
    padding-left: 80px;
    padding-bottom: 70px;

}
#divcontainer{
    display: flex;
    align-items: center;
}
#DivIzq{

}
#DivDer{
    padding-left: 680px;
    display: flex;
}
.ImgFooter{
    color: white;
    text-decoration: none;
    height: 25px;
    width: 25px;
    margin: 10px;
}